.data-icon{
    background: url("../../images/data.png") no-repeat left center;
    background-size: 25px 25px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.time-icon{
    background: url("../../images/clock.png") no-repeat left center;
    background-size: 25px 25px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.choose-data{
    margin: 0 8px;
}
#date{
    border: 1px solid  #d5d5d5;
    padding: 0 1%;
    height: 30px;
    line-height: 30px;
    width: 98%;
    color: #4d4d4d;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.datepicker__day-item_active {
    background-color: #ffe72d;
    color: #000;
}
.datepicker__week-list {
    border-bottom: 1px solid #ffe72d;
}
.datepicker__week-item {
    color: #3e4242;
}
.datepicker__time-selector-arrow{
    color: #ffe72d;
}
.choose-time li{
    width: 22%;
    margin:1%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    font-size: 14px;
    float: left;
    border-radius: 4px;
    border:1px solid gainsboro;
    box-shadow: 2px 2px rgba(223, 223, 223, 0.75);
}
.detail{
    margin-top: 10px;
    font-size: 12px;
    color: #333;
}
.detail em{
    color: #ffe100;
}
.time-button{
    text-align: center;
    margin-top: 43px;
}
.time-button a{
    width: 110px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    line-height: 30px;
}
.go-back{
    background: #434343;
    color: #fff;
}
.go-next{
    background: #ffe100;
    color: #000;
    margin-left: 40px;
}
.active{
    border-color: #ffe100!important;
}
/*弹窗*/
.window-wrap{
    width: 80%;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin: -185px 0 0 -40%;
}
.window-wrap h3{
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.window-close{
    width: 15px;
    height: 15px;
    display: block;
    background: url("../../images/close.png") no-repeat;
    background-size: 100% 100%;
    margin: 15px 15px 0 0;
}
.window-wrap img{
    margin-top:20px;
    width: 100px;
    height: 100px;
}
.pop-window{
    width: 100%;
    height: 800px;
    background: url("../../images/window-bg.png") no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.book-form li{
    line-height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.book-form li span{
    float: left;
    width: auto;
}
.book-form li p{
    float: left;
    width: 65%;
    text-align: left;
}
.book-form input{
    float: left;
    border: 1px solid gainsboro;
    height: 22px;
    padding: 8px 10px;
    width: 160px;
}
.book-sure button{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #333;
    background-color: #ffe100;
    margin: 20px auto;
}
