@charset "utf-8";
/* CSS Document */
.money{
   width: 100%;
   height: auto;
   display: inline-block;
}
.money-top{
   width: 98%;
   padding-left: 2%;
   height: 45px;
   display: inline-block;
   margin-bottom: 5px;
}
.money-span{
   font-size: 14px;
   line-height: 45px;
   display: inline-block;
}
.money-span:last-child{
   margin-left: 2%;
}
.form-span{
   font-size: 14px;
}
.money-i{
   padding: 5px 6px;
   border-radius: 4px;
   border: #ffe100 solid 1px;
   font-size: 14px;
   box-shadow: 2px 2px rgba(223, 223, 223, 0.75);
}
.money-form{
   width: 98%;
   padding-left: 2%;
   height: auto;
   display: inline-block;
}
.money-form span{
   display: inline;
}
.input{
   width:65%;
   height: 30px;
   border: solid 1px #eee;
   outline: none;
   padding: 0 10px;
   display: inline;
   margin-bottom: 8px;
}
.money-p{
   margin-top: 15px;
   font-size: 14px;
}
.money-p b{
   color: #ffe100;
}
.button{
   width: 80px;
   height: 30px;
   background: #ffe100;
   border-radius: 4px;
   font-size: 16px;
   display:block;
   line-height: 30px;
   text-align: center;
   margin: 30px auto;


}