/*预约详情css*/
body{
    background: #eee;
}
.content{
    font-size: 14px;
    margin-bottom: 60px;
}
.person-info{
    margin: 5px 3% 5px 3%;
}
.person-info p{
    height: 25px;
    line-height: 25px;
}
.gray-wrap{
    height: 8px;
    background: #eee;
}
.booking-info{
    margin: 10px 3%;
}
.booking-info p{
    height: 30px;
    line-height: 30px;
}
.booking-info .space{
    margin: 0 10px;
}
/*弹窗*/
.window-wrap{
    width: 80%;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin: -100px 0px 0px -40%;
}
.window-wrap h3{
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.window-close{
    width: 15px;
    height: 15px;
    display: block;
    background: url("../../images/close.png") no-repeat;
    background-size: 100% 100%;
    margin: 15px 15px 0 0;
}
.window-wrap img{
    margin-top:20px;
    width: 100px;
    height: 100px;
}
.pop-window{
    width: 100%;
    height: 800px;
    background: url("../../images/window-bg.png") no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.window-wrap p{
    margin: 47px auto;
    width: 90%;
    line-height: 30px;
}
.book-message{
    height: 85px;
    margin-left: 95px;
}
.book-image{
    height: 85px;
    width: 85px;
    padding-right: 10px;
    border-radius: 50%;
    float: left;
}
.book-image img{
    width: 100%;
    border-radius: 50%;
}
.content li{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}
.book-phone{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ebebeb;
    position: relative;
}
.book-store{
    line-height: 25px;
    padding-left: 25px;
    background: url("../../images/md.png") no-repeat left center;
    background-size: 20px;
}
.left-phone{
    margin-right: 40px;
}
.book-address{
    line-height: 25px;
    padding-left: 25px;
    background: url("../../images/weiz.png") no-repeat left center;
    background-size: 20px;
}
.right-phone{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    border-left: 1px solid #ebebeb;
}
.right-phone a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../../images/wdyy4.png") no-repeat center center;
    background-size: 25px;
}
.book-sure{
    right: 10px;
    top: 5px;
    background-size: 100%;
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat:no-repeat ;
}
.book-success{
    background-image: url(../../images/wdyy2.png);
}
.book-fail{
    background-image: url(../../images/wdyy3.png);
}
.book-done{
    background-image: url(../../images/wdyy1.png);
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    height: 100%;
    width: 100%;
    background: #ebebeb;
}

#scroller {
    position:absolute; z-index:1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
.book-title{
    line-height: 21px;
}
.book-number{
    font-size: 0;
    display: block;
}
.book-number div{
    font-size: 14px;
    width: 50%;
    display: inline-block;
}