html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input,button  {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
/*//-webkit-tap-highlight-color:rgba(255,255,255,0.2); //屏蔽点击元素时出现的阴影*/
/*-webkit-appearance:none; //屏蔽输入框内阴影*/
}
@font-face {
    font-family: Fine;
    src:url(Fine.ttf);
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, STHeiti, sans-serif;;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button{
    border: none;
    outline: 0 none;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
body {
    min-width: 320px;
}
@media screen and (min-width: 640px) {
    body,.page-container ,.fixed-bottom{
        width: 640px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .cate-list,.page-container {
        border: 1px solid #e6e6e6;
    }
}
.hide{
    display: none !important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.over{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*购物车加减号*/
.add{
    width:25px;
    height:25px;
    display:inline-block;
    background: url("../images/add.png") no-repeat;
    background-size: 100% 100%;
}
.reduce{
    width:25px;
    height:25px;
    display:inline-block;
    background: url("../images/reduce.png") no-repeat;
    background-size: 100% 100%;
}
/*购物车加减号中间的数量*/
.mui_number {
    float:right;
    font-size:12px;
    height:26px;
}
.mui_number span {
    width:30px;
    height:26px;
    line-height: 26px;
    display: inline-block;
    text-align:center;
    vertical-align: top;
}
/*--头部公用--*/
#product_top {
    height:45px;
}
.product_top {
    overflow:hidden;
    z-index:99999;
    background:#fff;
    position:fixed;
    left:0;
    right:0;
    height:45px;
    color:#333;
    font-size:16px;
    line-height:45px;
    border-bottom:solid 1px #dcdcdc;
    text-align:center;
}
.product_top .return {
    display:block;
    height:100%;
    float:left;
    width:10%;
    background:url(../images/genduo.png) no-repeat center;
    background-size:11px;
}
.product_top span {
    float:right;
    width:10%;
    cursor:pointer;
    display:block;
    height:100%;
    background:url(../images/chax.png) no-repeat left;
    background-size:21px;
}
/*关闭和logo*/
.logo_top {
    float:right;
    width:16%;
    cursor:pointer;
    display:block;
    height:100%;
    background:url(../images/logo.png) no-repeat right;
    background-size:60px;
    margin-right: 8px;
}
.product_top .back {
    display:block;
    height:100%;
    float:left;
    width:10%;
    background:url(../images/back.png) no-repeat 30% center;
    background-size:11px;
}
/*--底部购物车--*/
.cart_bottom {
    height: 50px;
    position: fixed;
    background: #434343;
    background-size: 57px;
    bottom: 0;
    width: 100%;
    z-index: 111;
}
.cart_bottom b {
    height:50px;
    color:#fff;
    font-weight:300;
    line-height:50px;
    width:30%;
    text-align:center;
    display:block;
    float:left;
}
.cart_bottom button {
    float:right;
    height:50px;
    line-height:50px;
    color:#fff;
    background:none;
    border:none;
    width:30%;
}
.cart_bottom span {
    display:block;
    background:url(../images/cart.png) no-repeat center;
    background-size:57px;
    width:57px;
    height:57px;
    left:50%;
    top:50%;
    margin-left:-34px;
    margin-top:-37px;
    position:absolute;
}
.cart_bottom span i {
    color:#FFF;
    width:14px;
    margin-left:16px;
    float:left;
    margin-top:7px;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-style:normal;
    font-size: 12px;
}