/*--产品详情--*/
.details_list {
 overflow:hidden;
}
.details_info {
 margin:3% 3% 0 3%;
 overflow:hidden;
 padding-bottom:15px;
 border-bottom:solid 1px #dcdcdc;
}
.details_info h4 {
 font-size:16px;
 margin-bottom:10px;
 font-weight:400;
}
.details_info h4 span {
 float:right;
}
.details_info b {
 float:left;
 font-size:14px;
 color:#424242;
 font-weight:300;
}
.details_text {
 padding:0 3% 50px 3%;
}
.details_title {
 height:44px;
 line-height:44px;
 font-size:16px;
 font-weight:400;
}
.details_text img {
 margin:0;
 width:100%;
}
.detail-txt{
 font-size: 14px;
 line-height: 20px;
 border-bottom: 1px solid #dcdcdc;
 padding-bottom: 10px;
}
.reduce,.mui_number span{
 display: none;
}
/*香蕉样式*/
.banana-box i{
 width: 12px;
 height: 12px;
 display: inline-block;
 background: url(../../images/banana.png) no-repeat center;
 background-size: 100%;
 margin: 0 2px;
}
.sed b,.sed .banana-box,.sed span{
 width: 33%;
 }
.sed span{
 text-align: right;
}