/*我的订单样式*/
body{
    background: #eee;
}
.content{
    font-size: 15px;
}
.order-num{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #dcdcdc;
}
.list-con{
    padding: 8px;
    border-bottom: 1px solid #dcdcdc;
    color: #333;
}
.shop-img{
    width: 88px;
    height: 88px;
}
.shop-name{
    margin-top: -4px;
    height: 40px;
    line-height: 1.4;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-right{
    margin-left: 8px;
    width: 60%;
}
.price{
    margin-top: 25px;
    font-size: 14px;
}
.num{
    font-size: 14px;
    margin-top: 60px;
}
.more a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #333;
}
.count{
    text-align: right;
    font-size: 14px;
}
.count .count-price{
    margin-left: 20px;
}
.content ul li{
    margin-bottom: 8px;
    background: #fff;
    padding: 0 3% 20px 3%;
}
.content ul li:last-child{
    margin-bottom: 0;
}
.payment{
    width: 75px;
    height: 25px;
    line-height: 25px;
    background: #ffe100;
    border-radius: 5px;
}